.form-main-container,
.form-actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
}

.form-title {
      margin: 2rem;
}


.example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
      text-align: center;
}

.example-full-width {
      width: 94%;
      margin: 0.8rem;
}


form-field {
      margin: 3rem;
}