<mat-card class="form-main-container">
      <mat-card-title class="form-title">Login</mat-card-title>


      <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Enter your email.." type="email">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="Enter your password.." type="password">
            </mat-form-field>
      </form>

      <mat-card-actions class="form-actions">
            <mat-card-subtitle>don't have an account</mat-card-subtitle>
            <button mat-stroked-button color="accent">Sign In</button>
      </mat-card-actions>

</mat-card>