<main class="FormContainer">

      <!--Display The Login Form When The User Is Not Looged In-->
      <div *ngIf="!(auth.authState | async)" class="loginContainer">
            <h1>Login</h1>
            <button appGoogleSignin mat-raised-button class="GoogleLoginBtn">
                  <img style="width: 30px; height:30px;display:inline-block" src="/assets/Google.svg" /> Login With
                  Google
            </button>

            <h5>OR</h5>

            <!--The Form Container-->
            <app-form></app-form>

      </div>

      <!--Display The User Info When The User Looged In-->
      <div *ngIf="auth.authState | async as user" class="logoutSection">
            <p class="text-3xl font-bold underline">
                  Logged in as <strong>{{ user.displayName}}</strong>
            </p>

            <button mat-raised-button (click)="auth.signOut()">Logout</button>
      </div>




</main>