<div class="loginContainer">
      <h1>Login</h1>
      <button mat-button style="padding: 1rem; margin: 1rem;">
            <img style="width: 50px; height:30px" src="/assets/Google.svg" /> Login With Google
      </button>
      <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Enter your email.." type="email">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="Enter your password.." type="password">
            </mat-form-field>
      </form>
</div>